<p-splitter [style]="{ height: '50%' }" layout="horizontal">
  <ng-template pTemplate>
    <p-card class="flex flex-column">
      <h1>Configuración</h1>
      <h5 class="mb-5">
        Ingresa la URL y selecciona la imagen del link que quieres agregar a tu
        página
      </h5>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <button
          class="p-button"
          pButton
          type="button"
          label="Selecciona la imagen principal de tu página"
          (click)="mainImageFile.click()"
        ></button>
        <input
          #mainImageFile
          type="file"
          id="inputtext"
          accept="image/*"
          pInputText
          (change)="onImageSelected($event)"
          style="display: none"
        />

        <ng-container
          *ngTemplateOutlet="linkContainer; context: { index: 1 }"
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="linkContainer; context: { index: 2 }"
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="linkContainer; context: { index: 3 }"
        ></ng-container>
      </form>
    </p-card>
  </ng-template>
  <ng-template pTemplate>
    <div class="flex flex-column">
      <h1>Preview</h1>
      <canvas id="canvasEl" width=400 height=400  ></canvas> 

      <div class="flex">
        <button
          class="p-button-success"
          pButton
          type="submit"
          label="Continuar"
        ></button>
      </div>
    </div>
  </ng-template>
</p-splitter>

<ng-template #linkContainer let-index="index">
  <div class="flex flex-column my-5" [formGroup]="form">
    <h3 class="mb-5">Link {{ index }}</h3>
    <div class="flex" [formGroupName]="'link' + index">
      <span class="p-float-label">
        <input type="text" id="url" pInputText formControlName="url" />
        <label for="inputtext">Ingresa la URL del link {{ index }}</label>
      </span>
      <button
      *ngIf="!form.get(['link' +index, 'image'])?.value"
        class="p-button mx-1"
        pButton
        type="button"
        label="Selecciona la imagen de link {{ index }}"
        (click)="onLinkImageClick(index)"
      ></button>
      <!-- <div *ngIf="form.get(['link' +index, 'image'])?.value" class="p-2">
        <p-image src="{{ form.get(['link' +index, 'image'])?.value }}" alt="Image" width="100%">
        </p-image>
      </div> -->
      <input
        id="linkImageUpload{{ index }}"
        type="file"
        accept="image/*"
        pInputText
        (change)="onLinkImageSelected($event, index)"
        style="display: none"
      />
    </div>
  </div>
</ng-template>
