<p-card>
    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="flex">
            <div class="p-fluid grid col-6">
                <div class="field col-12">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText formControlName="url1">
                        <label for="inputtext">URL 1</label>
                    </span>
                </div>
                <div class="field col-12">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText formControlName="url2">
                        <label for="inputtext">URL 2</label>
                    </span>
                </div>
                <div class="field col-12">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText formControlName="url3">
                        <label for="inputtext">URL 3</label>
                    </span>
                </div>

                <div class="field col-12">
                    <span class="p-float-label">
                        <textarea pInputTextarea formControlName="description"></textarea>
                        <label for="inputtext">Descripción</label>
                    </span>
                </div>
                <div class="field col-12">
                    <span class="p-float-label">
                        <input type="file" id="inputtext" accept="image/*" pInputText (change)="imagePreview($event)">

                    </span>

                </div>
            </div>
            <div *ngIf="form.get('image')?.value" class="flex col-6 justify-content-center">

                <p-image src="{{form.get('image')?.value}}" alt="Image" width="250">
                </p-image>

            </div>
        </div>
        <div class="field">
            <button class="p-button-success" pButton type="submit" label="Continuar"></button>
        </div>
    </form>
</p-card>